/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(normalize.css);
@import url(pygment_trac.css);

/*******************************************************************************
Theme Styles
*******************************************************************************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color:#373737;
  background: #212121;
  font-size: 18px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 18px;
  margin: 10px 0 15px 0;
}

footer p {
  color: #f2f2f2;
}

.webmaster{
      color: #f2f2f2;
      text-align: center;
}
.webmaster a{
  text-decoration: none;
  color: #f2f2f2;
  text-shadow: none;
   text-decoration: none;
    text-decoration-color: currentcolor;
    text-decoration-line: none;
    text-decoration-style: solid;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;
}

a:hover, a:focus {text-decoration: underline;}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}


.\t p {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
  width: 33%;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;

  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre {
  padding: 10px;
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin: 0 0 20px 2px;
  padding-left: 20px;
  border-left: 3px solid #bbb;
  font-style: italic;
}

ul, ol, dl {
  margin: 0 0 15px 0;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin-left: 0;
  padding-left: 0;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #373737;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}

/*******************************************************************************
bouton styles
*******************************************************************************/
.btn-home{
	color:darkslategrey;
	font-size:20px;
	background-color:#DDD9C5;
	padding: 10px 20px 30px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 200px;
	height: 200px;
	}
.btn-home:hover{
	color:#fff;
	font-size:20px;
	background-color:#EB7D24;
	padding: 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	}



/*******************************************************************************
Menu CSS
*******************************************************************************/
/* drop down menu styles */
#menu a {
	display:inline-block;
	color: #9d9d9d;
	text-decoration:none;
	text-shadow: 0 0 0;
}
#menu {
	margin: 0 0 0 0;
	text-align:right;
	padding-left: 0;
}
#menu > li,
#menu > li li {
	position: relative;
	display:inline-block;
	list-style: none;
	width: 6em;
	padding: 5px 10px 5px 5px;
	text-align: center;
	color: #9d9d9d;
	background-color: #212121;
}
#menu > li { zoom:1;}
#menu > li li a
{
	color: #9d9d9d;
}

#menu > li li:hover
{
	background:#212121;
	color: #EB7D24;
}
#menu ul {
	position: absolute;
	top: 2em;
	left:0;
	max-height:0em;
	margin:0; padding:0;
	background-color:transparent;
	overflow:hidden;
	-webkit-transition: 0.5s max-height 0.1s;
	-moz-transition: 0.5s max-height 0.1s;
	-ms-transition: 0.5s max-height 0.1s;
	-o-transition: 0.5s max-height 0.1s;
	transition: 0.5s max-height 0.1s;
}
#menu a:hover {
	color: #EB7D24;
}
#menu>li:hover {
	color: #EB7D24;
}

#menu>li:hover ul {
	/* need an adaptation, lower is better, but see it large ;) 13em */
	max-height:13em;
}
.ie7 #menu > li {
	display: inline;
	zoom:1;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 80vw;
  padding: 20px 10px;
  margin: 0 auto;

}

#forkme_banner {
  padding: 5px 40px 5px 5px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
}

#header_wrap {
  background: #DDD9C5;
  height:  180px;
}

#header_wrap .inner {
  padding: 20px 10px 30px 10px;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 120px;
  text-indent: -5000px;
  background: url('../images/toggleLogo.png') no-repeat 0% 100%;
}

#project_tagline {
  color: #000000;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

div.downloads {
  float: right;
  width: 100%;
  margin-right: 3%;
  height: 70px;
}

div.header {
  clear: both;
  display: block;
  margin: auto;
}

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  overflow: hidden;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  overflow: hidden;
  margin-left: 10px;
  z-index: -1;
}

#main_content_wrap {
  background: #f2f2f2;
  border-bottom: 1px solid #111;
}

#main_content {
  padding-top: 40px;
}

#footer_wrap {
  background: #212121;
}


/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }
}


/*******************************************************************************
logos styles
*******************************************************************************/

.logo-div {
	clear: both;
	display: inline-block;
	width: 100%;
	margin: auto;
	text-align: center;
}

.logo{
	width: 120px;
	height: 100px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}

.img-logo {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}


div.footer_txt {
  clear: both;
  width:70%;
  display: block;
  margin: auto;
}

.logocontact{
	width: 90px;
	/*height: 60px;*/
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}

/*******************************************************************************
contact styles
*******************************************************************************/


.team-name{
	text-align: center;
	display:block;
	vertical-align:center;
	color:#2e6da4;
	font-size:20px;
}

.team-img{
	text-align: center;
	vertical-align:center;
}

.contact{
		text-align: center;
}

.table-contact{
	border: 0px;
}
.table-contact td{
	border: 0px;
	font-weight: bold;
}

 .puce li  {
    list-style-type: none; /* on annule la puce par défaut */
    background-image: url('../images/puce.png'); /* on affiche l'image souhaitée */
    background-size: 15px 15px;
    background-repeat: no-repeat; /* on annule la répétition par défaut */
    background-position: left center; /* on positionne où l'on veut */
    padding-left: 30px; /* pour éviter la superposition du contenu */
		margin: 10px;
		font-weight: bold;
}

 .puce2 li  {
    list-style-type: none; /* on annule la puce par défaut */
    background-image: url('../images/puce.png'); /* on affiche l'image souhaitée */
    background-size: 15px 15px;
    background-repeat: no-repeat; /* on annule la répétition par défaut */
    background-position: left center; /* on positionne où l'on veut */
    padding-left: 30px; /* pour éviter la superposition du contenu */
		margin: 10px;
}

.floatLeft
{
     float:left;
}


/*div#colonne1
{
	padding-left:5px;
	width: 350px;
	height: 225px;
	background: lightblue;
 	border-radius: 10px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}

div#colonne2
{
	background: khaki;
	padding-left:5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	display: inline-block;
	height: 225px;
	text-align: center;
	text-decoration: none;
}
div#colonne3
{
	padding-left:5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	width: 300px;
	height: 225px;
	background: burlywood;

	display: inline-block;
	text-align: center;
	text-decoration: none;
}
*/
div#colonne1
{
	float: left;
	background: lightblue;
	display: inline-block;
	height: auto;
	padding-left:5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	margin: auto;
}

div#colonne2
{
	float: left;
	background: khaki;
	display: inline-block;
	height: auto;
	padding-left:5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	margin-left: 5px;
	margin-right: 5px;
}
div#colonne3
{
	float: left;
	background: burlywood;
	display: inline-block;
	height: auto;
	padding-left:5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	margin: auto;
}

div#nextInline
{
    display: block;
    clear: both;

}


.replie {
    margin: 10px;
}
.bouton-deplier {
    text-decoration: none;
    color: #fff;
/*
    background: #fff;
*/
    background: #008bf2;
    padding: 5px 10px;
    cursor: pointer;
}
.deplie {
    margin: 10px;
    background: white;
    color: #fff;
}
.bouton-replier {
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #008bf2;
    padding: 5px 10px;
    cursor: pointer;
}
.montexte {
    padding: 10px 10px 20px 10px;
    color: black;
}
.warning {
    color:red;
}
