<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="ja"><![endif]-->
<!--[if IE 7]>   <html class="no-js ie7 oldie" lang="ja"><![endif]-->
<!--[if IE 8]>   <html class="no-js ie8 oldie" lang="ja"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ja"><!--<![endif]-->
{% include head.html %}
<body>
<div id="main_content_wrap" class="outer">
	 <section id="main_content" class="inner">
		<article>
{{ content }}
		</article>
{% include aside.html %}
	</div> <!-- #main -->
</div> <!-- #main-container -->
{% include footer.html %}
{% include script.html %}
</body>
</html>
